.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 2px solid lightgray;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.9;
}
.searchResult:hover {
  opacity: 1;
  transform: scale(1.02);
}
.searchResult > img {
  height: 200px;
  width: 350px;
  margin: 15px;
  border-radius: 20px;
  overflow: hidden;
}
.searchResult > img:hover {
  transform: scale(1.2);
}
.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}
.searchResult__infoTop {
  width: 40vw;
}
.searchResult__infoTop > h3 {
  margin-top: 10px;
  font-weight: 300;
}
.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}
.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__stars {
  color: red;
}
.searchResults__price > p {
  text-align: right;
}
.searchResults__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
